[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
tox = "*"
check-manifest = "*"
coverage = "*"


ipython = "*"

setuptools = "*"
wheel = "*"
cuda-slic = {editable = true,path = "."}

[packages]
numpy = "*"
jinja2 = "*"
scikit-image = "*"
pycuda = "==2019.1.2"
