[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
check-manifest = "*"
coverage = "*"
black = "*"
tox = "*"
isort = "*"
ipython = "*"
setuptools = "*"
wheel = "*"
cuda-slic = {editable = true,path = "."}

[packages]
numpy = "*"
jinja2 = "*"
scikit-image = "*"
pycuda = ">=2019.1.2"

[pipenv]
allow_prereleases = true
